.*
!/.gitignore
/source/distributed/levi-master-thesis-client
/source/distributed/levi-master-thesis-server
/source/distributed/client/data.zip
/source/distributed/misc/data.zip
/source/distributed/misc/data
/source/distributed/data
/source/distributed/data.zip
/source/distributed/source
/source/distributed/source.zip
/source/distributed/levi-master-thesis-client.tar
/source/distributed/levi-master-thesis-server.tar
/source/data_bak
/source/data.zip
*.term
*.fdb_latexmk
*.synctex.gz
*.log
*.fls
*.toc
*.run.xml
*.lot
*.lof
*.out
*.aux
*blx.bib
*.blg
*.bbl
*.ipynb.sage-jupyter2
__pycache__
/source/data/*
!/source/data/models
/source/data/models/*
!/source/data/models/hashes.txt
