.*
!/.gitignore
/data
/source/distributed/levi-master-thesis-client
/source/distributed/levi-master-thesis-server
/source/distributed/client/data.zip
/source/distributed/misc/data.zip
/source/distributed/misc/data
/source/distributed/data
/source/distributed/data.zip
/source/distributed/levi-master-thesis-client.tar
/source/distributed/levi-master-thesis-server.tar
*.term
*.fdb_latexmk
*.synctex.gz
*.log
*.fls
*.toc
*.run.xml
*.lot
*.lof
*.out
*.aux
*blx.bib
*.blg
*.bbl
__pycache__
/source/data
/source/data_bak
/source/data.zip
/source/log.txt
output.txt
*.ipynb.sage-jupyter2
levi-master-thesis
levi-master-thesis.tar
!/source/data/models/hashes.txt
